.ratingStyle {
  border: 1px #b2b2b2 solid;
  border-radius: 40px;
  padding: 5px;
  font-size: large;
  width: fit-content;
  color: #ffffff;
}

.redText {
  color: #f65261;
}

.whiteText {
  color: #ffffff;
}

.greyText {
  color: #939393;
  text-align: Justify;
}

.myTile {
  background-color: #424242;
  padding: 5px;
  margin-top: 20px;
}
